@use "/src/styles/vars";

.CardNft {
  background-color: vars.$bg-card;
  padding: 1.5rem;
  max-width: 330px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &__img-container {
    border-radius: 10px;
    position: relative;
    width: 100%;
  }


  &__img {
    opacity: 1;
    display: block;
    border-radius: 10px;
    width: 100%;
    height: auto;
  }

  &__middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__img-container:hover {
    background-color: vars.$cyan;
    cursor: pointer;
  }

  &__img-container:hover &__img {
    opacity: 0.3;
  }

  &__img-container:hover &__middle {
    opacity: 1;
  }

  &__name {
    color: vars.$white;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 1.3rem 0;

    &:hover {
      color: vars.$cyan;
      cursor: pointer;
    }
  }

  &__description {
    font-weight: 300;
    line-height: 1.5;
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid vars.$color-line;
    padding: 0.8rem 0;
    margin-bottom: 1rem;
  }

  &__eth {
    color: vars.$cyan;

    &::before {
      content: "";
      display: block;
      background: url("../../assets/images/icon-ethereum.svg") no-repeat;
      width: 11px;
      height: 18px;
      float: left;
      margin: 0 6px 0 0;
    }
  }

  &__days-left {

    &::before {
      content: "";
      display: block;
      background: url("../../assets/images/icon-clock.svg") no-repeat;
      width: 17px;
      height: 17px;
      float: left;
      margin: 0 6px 0 0;
    }
  }

  &__info {
    display: flex;
    gap: 1rem;
    align-items: center;
  }


  &__avatar {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid vars.$white;
  }

  &__createby {
    color: vars.$white;

    &:hover {
      color: vars.$cyan;
      cursor: pointer;
    }
  }
}